*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
.images{
    height: 500px;
    width: 500px;
    border: 2px solid red;
    position: relative;
}
img {
    position: absolute;
}
#first{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  
}
#second{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}
#third{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 
}
.btn{
    margin: 20px 0;
}