@model Task2.Models.Course

@{
    ViewData["Title"] = "Edit";
}
<script src ="~/lib/jquery/jquery.min.js" ></script>
 <script src ="~/lib/jquery-validate/jquery.validate.min.js" ></script>
 <script src ="~/lib/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>

<div class="p-5">
    <h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row p-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group pb-3">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="CourseGrade" class="control-label"></label>
                <input asp-for="CourseGrade" class="form-control" />
                <span asp-validation-for="CourseGrade" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID">

                </select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
