<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <!-- CSS File -->
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <!-- Start Header-->
    <header>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>

                <i class="fa-solid fa-bars toggle-menu"></i>
                <ul>
                    <li><a class="#" href="">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>
            </div>
        </div>
    </header>
    <!-- End Header-->

 @RenderBody()

    <!-- Start Footer-->
    <div class="footer">
        <div class="container">
            <div class="content">
                <img src="images/logo.png" alt="">
                <h2>Contact</h2>
                <p>Address : <span> 26th of July Street- Cairo- Egypt</span></p>
                <p>Phone : <span> 010123456789</span></p>
                <p>Hours : <span> 10.00 - 12.00 , Sun-Sat</span></p>


            </div>

            <div class="services">
                <h2> Services</h2>
                <p>Price Drop</p>
                <p>New Products</p>
                <p>Best Sales</p>
                <p>Online Order</p>
                <p>Contact Us </p>

            </div>

            <div class="app">
                <h2> Install App</h2>
                <p> From App Store or Google Play</p>
                <img src="images/app.jpg" alt="">
                <img src="images//play.jpg" alt="">
                <p>Secured payment Gateways</p>
                <img src="images/pay.png" alt="">

            </div>

        </div>

    </div>
    <div class="foot">Copyright &copy; 2022  created by  <span> Fashion </span> All Right Reserved</div>
    <!-- End Footer-->

</body>
</html>
