@using Day7.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Edit";
    var selectedCar = (Car)ViewBag.curCar;
}

<h2>Edit</h2>
<form method="post" action="/Car/EditSave">
    <input type="hidden" name="Number" value="@selectedCar.Num" />
    <input type="text" name="Color" value="@selectedCar.Color" />
    <input type="text" name="Model" value="@selectedCar.Model" />
    <input type="text" name="Manfacture" value="@selectedCar.Manfacture" />

    <input type="submit" value="Save" />

</form>


