@model Task1.Models.Emp

@{
    ViewData["Title"] = "Create";
}
<script src ="~/jquery/jquery.min.js" ></script>
 <script src ="~/jquery-validate/jquery.validate.min.js" ></script>
 <script src ="~/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>

<div class="p-5">
    <h1>Create</h1>

<h4>Emp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpFname" class="control-label"></label>
                <input asp-for="EmpFname" class="form-control" />
                <span asp-validation-for="EmpFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpLname" class="control-label"></label>
                <input asp-for="EmpLname" class="form-control" />
                <span asp-validation-for="EmpLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSalary" class="control-label"></label>
                <input asp-for="EmpSalary" class="form-control" />
                <span asp-validation-for="EmpSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpHdate" class="control-label"></label>
                <input asp-for="EmpHdate" class="form-control" />
                <span asp-validation-for="EmpHdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DId" class="control-label"></label>
                <select asp-for="DId" class ="form-control" asp-items="ViewBag.DId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CtyId" class="control-label"></label>
                <input asp-for="CtyId" class="form-control" />
                <span asp-validation-for="CtyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
