@model Task1.Models.Dept

@{
    ViewData["Title"] = "Create";
}
<script src ="~/jquery/jquery.min.js" ></script>
 <script src ="~/jquery-validate/jquery.validate.min.js" ></script>
 <script src ="~/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>

<h1>Create</h1>

<h4>Dept</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeptName" class="control-label"></label>
                <input asp-for="DeptName" class="form-control" />
                <span asp-validation-for="DeptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptDesc" class="control-label"></label>
                <input asp-for="DeptDesc" class="form-control" />
                <span asp-validation-for="DeptDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
